{:tasks
 {:requires ([babashka.fs :as fs])
  test {:doc "Run jp-ashiba CLJ tests"
        :task (shell "clojure -M:test")}
  clean {:doc "Remove local build/test artifacts"
         :task (doseq [path [".cpcache" "target"]]
                 (fs/delete-tree path))}}}
